.banner {
    background-image: url(../../assets/img/homis.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 755px;
    border-bottom: 10px solid #000;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 184px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}